body {
  background-color: blanchedalmond; /*Dit is de achtergrondkleur*/
  margin: 0; /*De ruimte buiten de rand van een element*/
  padding: 0 20px; /*De ruimte binnen de rand van een element, zorgt ervoor dat de tekst niet
  helemaal tegen de rand links en rechts aan staat.*/
}

ul.navbar {
  list-style-type: none; /*Zorgt ervoor dat de bolletjes / opsommingstekens niet zichtbaar zijn
  in het menu.*/
  margin: 0;
  padding: 0;
  position: fixed; /*Zorgt ervoor dat de menubalk altijd vast blijft staan op zijn plek (bovenkant)
  en dus niet meebeweegt bij scrollen.*/
  top: 0; /*Zorgt ervoor dat de menubalk helemaal bovenaan de pagina staat.*/
  left: 0; /*Zorgt ervoor dat de menubalk helemaal links staat, onafhankelijk van de padding.*/
  background-color: black;
  width: 100%; /*Zorgt ervoor dat de menubalk over de volledige breedte van de pagina loopt.*/
  z-index:1000; /*Dit bepaalt de stapelvolgorde, dus het zorgt ervoor dat het menu altijd boven
  'bovenop' de rest komt.*/
}

ul li {
  float: left; /*Zorgt ervoor dat het menu aan de linkerzijde 'vast' zit*/
}

ul li a, .dropbtn {
  display: inline-block;
  color: white; /*Dit is de tekstkleur*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn { /*Hover zorgt ervoor dat als je met je muis over het blokje
heen gaat, het blokje een andere kleur krijgt.*/
background-color: crimson;
}

li.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Zorgt voor een schaduw om het element heen*/
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: crimson;}

.dropdown:hover .dropdown-content {
  display: block;
}



ul li a.active {
  background-color: crimson;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  color: white;
  text-align: center; /*Zorgt ervoor dat de tekst in het midden staat*/
  font-weight: bold; /*Zorgt ervoor dat de tekst dikgedrukt is*/
  font-family: Verdana, Geneva, Tahoma, sans-serif; /*Zorgt voor het lettertype*/
  position: fixed;
  margin: 0;
  padding: px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  background-color: black;
}